.flow {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 200px;
}
.flower-menu {
  height: 200px;
  position: absolute;
  display: flex;
  gap: 16px;
  transform: translateX(0);
}
.controls-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.clear-button {
  background-color: transparent;
  border: 0;
}

.sub-cont {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 60px;
}
.p-newsletter {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.sub-button {
  border: 0;
  display: flex;
  width: 170px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  background: var(--pink, #e86f54);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.arrows-svg {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .arrows-svg {
    width: 61px;
    height: 61px;
  }
  .flow {
    height: 400px;
  }
  .flower-menu {
    height: 400px;
  }
  .p-newsletter {
    font-size: 32px;
  }
  .sub-button {
    width: 280px;
    height: 64px;
    padding: 16px 32px;
    font-size: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .flow {
    height: 430px;
  }
  .flower-menu {
    height: 430px;
  }
  .p-newsletter {
    font-size: 32px;
  }
}
