.hero-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.flower-studio {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 14px;
  font-weight: normal;
}

.now-shop-button {
  border: 0cap;
  background-color: white;
  margin-left: 8px;
}
.title {
  position: absolute;
  width: 288px;
  height: 63px;
  top: 230px;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.hero_list {
  list-style: none;
}

/**tablet**/
@media screen and (min-width: 768px) {
}

/** desktop **/

@media screen and (min-width: 1280px) {
}
