* {
    margin: 0;
    padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

section {
    font-family: 'Montserrat', sans-serif;
}

button {
    cursor: pointer;
}

.container {
  max-width: 288px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
.container {
    max-width: 720px;
  }
}

@media screen and (min-width: 1280px) {
.container {
    max-width: 1232px;
  }
}