<section class="container">
  <div class="about-start">
    <h2 class="about-highlight">ABOUT</h2>
    <hr class="line-container" width="100%" />
  </div>
  <div class="about-flex">
    <p class="about-paragraph">
      We are a minimalistic flower studio. We love people and flowers. Therefore, every day we give
      people the beauty and joy creating stylish and modern masterpieces. Every bouquet we create is
      unique as you are.
    </p>
    <div class="about-div">photo</div>
  </div>
</section>
