<section class="container">
  <div class="header-second-degree">
    <h2 class="h-delivery">DELIVERY</h2>
    <hr class="hr-delivery" width="100%" />
  </div>
  <ul class="delivery-menu">
    <li class="delivery-list">
      <span class="oracle">1</span>
      <p class="delivery-descrip">Choose your bouquet and make an order on website</p>
    </li>
    <li class="delivery-list">
      <span class="oracle">2</span>
      <p class="delivery-descrip">
        Wait for the call to clarify the details of the order. You can pay online or to the courier
      </p>
    </li>
    <li class="delivery-list">
      <span class="oracle">3</span>
      <p class="delivery-descrip">
        Wait for the delivery at the selected time or pick up the order from the store
      </p>
    </li>
    <li class="delivery-list">
      <span class="oracle">4</span>
      <p class="delivery-descrip">Make someone happy or enjoy yourself</p>
    </li>
  </ul>
  <img
    alt="delivery-img"
    src="./images/image_delivery_mobile.png"
    srcset="
      ./images/image_delivery_mobile.png   320w,
      ./images/image_delivery_tablet.png   768w,
      ./images/image_delivery_desktop.png 1200w
    "
    sizes=" (min-width:1280px) 1200px,
  (min-width:768px)  768px
  (min-width:300px)  320px"
    class="delivery-img"
  />
</section>
