<section class="container" id="delivery">
  <div class="header-second-degree">
    <h2 class="h-delivery">DELIVERY</h2>
    <hr class="hr-delivery" width="100%" />
  </div>
  <ul class="delivery-menu">
    <li class="delivery-list">
      <span class="oracle">1</span>
      <p class="delivery-descrip">Choose your bouquet and make an order on website</p>
    </li>
    <li class="delivery-list">
      <span class="oracle">2</span>
      <p class="delivery-descrip">
        Wait for the call to clarify the details of the order. You can pay online or to the courier
      </p>
    </li>
    <li class="delivery-list">
      <span class="oracle">3</span>
      <p class="delivery-descrip">
        Wait for the delivery at the selected time or pick up the order from the store
      </p>
    </li>
    <li class="delivery-list">
      <span class="oracle">4</span>
      <p class="delivery-descrip">Make someone happy or enjoy yourself</p>
    </li>
  </ul>
</section>
<div class="img-container">
  <picture>
    <source
      srcset="./images/image_delivery_mobile.png, ./images/image_delivery_mobile@x2.png"
      media="(max-width: 767px)"
    />
    <source
      srcset="./images/image_delivery_tablet.png, ./images/image_delivery_tablet@x2.png"
      media="(min-width:768px) and (max-width: 1280px)"
    />
    <source
      srcset="./images/image_delivery_desktop.png, ./images/image_delivery_desktop@x2.png"
      media="(min-width: 1281px)"
    />

    <img src="./images/image_delivery_mobile.png" alt="delivery-retina" class="picture-delivery" />
  </picture>
</div>
