<footer class="footer">
    <div class="container-footer footer-flex">
        <ul class="ul-footer">
            <li>
              <a href="./index.html">
                <svg class="icon-footer" width="73" height="58">
                  <use href="./images/icons_footer.svg#icon-Logo"></use>
                </svg>
              </a>
            </li>
          </ul>
      <div class="footer-container">
        <h1 class="footer-title">Navigation</h1>
        <ul>
        <li class="footer-list">Anemone
            <a href="" class="nav-link"></a>
        </li>
        <li class="footer-list">About us
            <a href="#about" class="nav-link"></a>
        </li>
        <li class="footer-list">Store
            <a href="#store" class="nav-link"></a>
        </li>
        <li class="footer-list">Delivery
            <a href="#delivery" class="nav-link"></a>
        </li>
        </ul>
      </div>
      <div class="footer-container">
        <h1 class="footer-title">Opening times</h1>
        <ul>
        <li class="footer-list">Every day</li>
        <li class="footer-list">9:00 - 22:00</li>
        </ul>
      </div>
      <div class="footer-container">
        <h1 class="footer-title">Contacts</h1>
        <ul>
        <li class="footer-list">+38 063 123 45 67</li>
        <li class="footer-list">anemonestudio@example.com</li>
        <li class="footer-list">Reitarska Street, 11 Kyiv, Ukraine</li>
        </ul>
      </div>
      <ul class="footer-container-icons">
        <li>
          <a href="http://www.facebook.com">
          <svg width="28" height="28">
            <use href="./images/icons_footer.svg#icon-facebook"></use>
          </svg>
        </a>
        </li>
        <li>
          <a href="http://www.instagram.com">
          <svg width="28" height="28">
            <use href="./images/icons_footer.svg#icon-instagram"></use>
          </svg>
          </a>
        </li>
      </ul>
    </div>
  </footer>