<header>
  <div class="container">
    <nav class="header-navigation">
      <a href="" class="link"
        ><svg class="logo">
          <use href="./images/icons_header.svg#icon-logo_mobile"></use>
        </svg>
      </a>

      <ul class="header-list list">
        <li><a href="" class="list-link link">Anemone</a></li>
        <li><a href="#about" class="list-link link">About us</a></li>
        <li><a href="#store" class="list-link link">Store</a></li>
        <li><a href="#deliver" class="list-link link">Delivery</a></li>
        <li><a href="#blog" class="list-link link">Blog</a></li>
      </ul>

      <div>
        <a href="tel:+48123123123" class="link">
          <svg class="phone">
            <use href="./images/icons_header.svg#icon-tel"></use>
          </svg>
        </a>

        <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
          <svg width="22px" height="22px">
            <use href="./images/icons_header.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>

<div class="toggle-container js-menu-container" id="mobile-menu">
  <button type="button" class="close-button js-close-menu">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path
        d="M18 6L6 18"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M6 6L18 18"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
  <nav>
    <ul class="menu-nav list">
      <li>
        <a href="" class="menu-font current-color link">Anemone</a>
      </li>
      <li>
        <a href="#about" class="menu-font link">About us</a>
      </li>
      <li><a href="#store" class="menu-font link">Store</a></li>
      <li><a href="#deliver" class="menu-font link">Delivery</a></li>
      <li><a href="#blog" class="menu-font link">Blog</a></li>
    </ul>
  </nav>
</div>
