

    <section class=" container hero-section"> 

        <ul class="list hero-list">
   
    <li class="flower-studio"><h5>flower<br> studio</h5></li>
    <li><img
      src="./images/flower_first_section_mobile.jpg"
      srcset="
        ./images/flower_first_section_mobile.jpg 1x,
        ./images/flower_first_section_mobile@2x.jpg 2x
      "
      class="image-homepage"
      width="145px"
      height="274px"
      alt="big purple flower"
    />
</li>
    <li><button type="button" class="now-shop-button" data-modal-open>
      <svg width="64px" height="76px">
        <use href="./images/icons_hero.svg#icon_btn_nowshop_mobile"></use>
      </svg>
    </button>
    <div class="modal is-hidden" data-modal>
      <button data-modal-close>X</button>
   </div>
</li> 
</ul></div>
<div class="title"><h1>ANEMONĒ</h1></div>
</section>

    <!--MODAL-->
     <div class="backdrop is-hidden" data-modal>
        <div class="modal">
            <button type="button" class="close-btn" data-modal-close>
                <svg class="x-button" width="16" height="16">
                    <use href="./images/icons_hero.svg#close_button">
                    </use>
                </svg>
            </button>
            <h1 class="modal-title">Contact us</h1>
            <p class="modal-header">If you have any additional questions or you want to clarify something before you
                make an order please fill in your
                contact details. We will call you back.</p>
            <form>
                <div class="modal-form">
                    <div class="form-element">
                        <label for="user-name" class="modal-label">Name</label>
                        <input type="text" name="user-name" id="user-name" class="form-input" placeholder="Your name" required />                   
                    </div>
                    <div>
                        <label for="email" class="modal-label">Email</label>
                        <input type="email" id="user-email" class="form-input" name="user-email" required
                            placeholder="Your email"></input>
                    </div>
                    <button type="submit" class="form-btn">Send</button>
                </div>
            </form>
        </div>
    </div>
    
</section>

